// Body
<<<<<<< HEAD
$body-bg: #665388;
=======
$body-bg: #605D86;
>>>>>>> 9588aa0576a12669146d76fe2177423079ed6232

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
