.orders-panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
  .choosen-items {
    margin-bottom: 40px;
    ul {
      // transition: all 0.5s ease-in-out;
      li {
        i {
          cursor: pointer;
          color: #f00;
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    .item-info {
      display: flex;
      justify-content: space-between;
      >div {
        align-self: center;
      }
      .item-counter {
        span {
          border: 1px solid #ccc;
          padding: 5px 15px;
          margin-right: 10px;
        }
        i {
          font-size: 20px;
          font-weight: bold;
          padding: 0 5px; // border-bottom: 2px solid #000;
        }
      }
      .price {
        span {
          margin-right: 10px;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
  .items-notes {
    textarea {
      resize: none;
      @extend .w-100;
      min-height: 100px;
    }
  }
  .room {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #000;
    select {
      float: right;
    }
  }
  .total-price {
    text-align: right;
    font-size: 25px;
    margin: 20px 0;
  }
  .confirm {
    text-align: right;
  }
}

.all-products {
  .latest-orders {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #000;
    h3 {
      margin-bottom: 20px;
    }
  }
  .products {
    h3 {
      margin-bottom: 20px;
    }
    .each-order {
      cursor: pointer;
      box-shadow: 0 0 7px 3px #00000045;
      transition: all 0.2s ease-in-out;
      &:hover {
        box-shadow: 0 0 10px 7px #00000045;
      }
    }
  }
}