.admin-all-users {
  .add-user {
    text-align: right;
  }
  .users-panel {
    margin: 20px 0;
    table {
      text-align: center;
      .each-user {
        td {
          vertical-align: unset;
          &:last-child {
            width: 300px;
            >div {
              display: flex;
              justify-content: space-evenly;
            }
          }
        }
      }
    }
  }
}